/* Created by: Curtis Edwards
 * Created on: Sep 2020
 * This CSS file defines the style for index2.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #ffb347;
}

h1 {
  background-color: rgb(255, 138, 155);
  color: hsl(266deg 62% 85%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #ad77e6;
}

ul {
  color: beige;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: #575cff;
  border: 1px solid white;
  text-align: left;
}

td {
  height: 2rem;
  background: #b8ffb3;
  border: 1px solid black;
  text-align: center;
}